# Dependencies
node_modules/

# Build outputs
dist/
.next/
.cursor/
out/
build/

# Environment
.env
.env*.local

# Logs
*.log
npm-debug.log*

# OS / IDE
.DS_Store
*.pem
.vercel

# TypeScript
*.tsbuildinfo

# Testing
coverage/
